<main>

    <div id="root">


    <section id="content">
        <div class="intro">
            <h1 class="intro_heading">
                        Welcome to RedditLytics:
            </h1>

            <div class="intro_search">

                <form id="queryForm" method="get" >
                    <label for="keyword">
                            </label>
                    <input
                    class="intro_search--input"
                    type="text"
                    id="queryInput"
                    name="keyword"
                    placeholder="Enter search keyword: " />

                    <input
                    class="intro_search--submit"
                    id="formSubmit"
                    type="submit" value="Go"/>
                </form>

            </div>

        </div>
    </section>


<br>
<div class="clear">
    <div><a href="/home/">Clear Results</a></div>

    <div><a href="/word/word-stats">Word Statistics</a></div>
</div>

    <section class="container">

</section>

    </div>
</main>